<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All authors</title>
    <style>
        body {
            background-color: grey;
        }
    </style>
</head>
<body>
<div th:if="${not #lists.isEmpty(authorList)}">
    <b>Authors:</b>
    <br/>
    <table>
        <tr th:each="author : ${authorList}">
            <td>
                <a th:href="@{/author/{id}(id=${author.id})}" th:text="${author.name}"/>
            </td>
        </tr>
    </table>
</div>

<div th:if="${#lists.isEmpty(authorList)}">
    <p>No authors found.</p>
</div>
<hr/>
<a th:href="@{/author/new}">Add an author</a>
</body>
</html>
