<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All books</title>
    <style>
        body {
            background-color: grey;
        }
    </style>
</head>
<body>
<div th:if="${not #lists.isEmpty(bookList)}">
    <b>Books:</b>
    <br/>
    <table>
        <tr th:each="book : ${bookList}">
            <td>
                <a th:href="@{/book/{id}(id=${book.getId()})}">
                    <span th:text="${book.formedInfo}"/>
                </a>
            </td>
        </tr>
    </table>
</div>

<div th:if="${#lists.isEmpty(bookList)}">
    <p>No books found.</p>
</div>

<hr/>

<div>
    <a th:href="@{/book/new}">Add a book</a>
    <br/>
    <a th:href="@{/book(p=${pageIndex}, sort=${!doSort})}">Switch sort</a>
    <br/>
    <a th:if="${hasNextPage}" th:href="@{/book(p=${pageIndex + 1}, sort=${doSort})}">Next Page
        <br/></a>
    <a th:if="${pageIndex > 0}" th:href="@{/book(p=${pageIndex - 1}, sort=${doSort})}">Previous page</a>
</div>
</body>
</html>
