<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.title}"/>
    <style>
        body {
            background-color: grey;
        }
    </style>
</head>
<body>

<span th:text="${bookInfo}"></span>
<hr/>
<span th:text="${bookAvailability}"></span>

<div th:unless="${isTaken}">
    <form th:method="POST" th:object="${person}"
          th:action="@{/book/{bookId}/giveout (bookId = ${book.id})}">
        <label for="person">Choose a person</label>
        <select th:field="*{id}" id="person">
            <option th:each="person : ${personList}" th:value="${person.id}"
                    th:text="${person.fullName}"/>
        </select>
        <input value="Give out" type="submit">
    </form>
</div>

<div th:if="${isTaken}">
    <form th:method="POST" th:action="@{/book/{bookId}/giveback (bookId=${book.id})}">
        <input value="Give back" type="submit">
    </form>
</div>

<hr/>
<div>
    <form th:method="GET" th:object="${book}" th:action="@{/book/{id}/edit (id=*{id})}">
        <input value="Edit" type="submit">
    </form>


    <form th:method="DELETE" th:object="${book}" th:action="@{/book/{id} (id=*{id})}">
        <input value="Delete" type="submit">
    </form>
</div>
</body>
</html>
