<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All people</title>
</head>
<body>
<div th:if="${not #lists.isEmpty(personList)}">
    <table>
        <tr th:each="person : ${personList}">
            <td>
                <a th:href="@{/person/{id} (id=${person.id})}" th:text="${person.fullName}"></a>
            </td>
        </tr>
    </table>
</div>

<div th:if="${#lists.isEmpty(personList)}">
    <span>No people found.</span>
</div>

<hr/>

<a th:href="@{/person/new}">Add a person</a>
</body>
</html>